<template>
	<div>
		<div class="glass">
			<div class="under"></div>
			<div class="over"></div>
		</div>
		<navigation></navigation>
		<p>
			Vue app
		</p>
		<keep-alive>
		    <router-view></router-view>
		</keep-alive>
	</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss">
	html, body {
		height: 100%;
	}
	body {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.glass {
		width: 100%;
	    height: 64px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    & > .under, & > .over {
	    	position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
	    }
		& > .under {
		    background: white;
		    background-position: top;
		    background-size: cover;
		    opacity: 0.8;
		}
		& > .over {
		    background-position: top;
		    filter: blur(5px);
		    opacity: 0.8;
		    background-size: cover;
		}
	}
	body, .glass > .over {
		background-image: url('../../img/bg.jpg');
	}
</style>