<template>
    
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">
        <img src="../../img/logo-white.png" />
      </a>
      <a href="#" data-activates="slide-out" class="button-collapse left"><i class="fa fa-bars"></i></a>
    </div>
    <ul id="slide-out" class="side-nav">
      <li class="logo">
        <router-link class="brand-logo" :to="{name: 'home'}">
          <i class="fa fa-bars"></i>
        </router-link>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-green">{{ $t('navigation.sustainable_development._') }}</a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" :to="{name: 'sustainable_development.what'}"> {{ $t('navigation.sustainable_development.what') }} </router-link>
                </li>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" :to="{name: 'sustainable_development.why'}"> {{ $t('navigation.sustainable_development.why') }} </router-link>
                </li>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" :to="{name: 'sustainable_development.experience'}"> {{ $t('navigation.sustainable_development.experience') }} </router-link>
                </li>
                <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                    <li>
                      <a class="collapsible-header waves-effect waves-green">{{ $t('navigation.sustainable_development.environmental_protection._') }}</a>
                      <div class="collapsible-body">
                        <ul>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" :to="{name: 'sustainable_development.environmental_protection.current'}"> {{ $t('navigation.sustainable_development.environmental_protection.current') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" :to="{name: 'sustainable_development.environmental_protection.law'}"> {{ $t('navigation.sustainable_development.environmental_protection.law') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" :to="{name: 'sustainable_development.environmental_protection.links'}"> {{ $tc('global.link', 2) }} </router-link>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                    <li>
                      <a class="collapsible-header waves-effect waves-green">{{ $t('navigation.sustainable_development.agriculture._') }}</a>
                      <div class="collapsible-body">
                        <ul>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.sustainable_development.agriculture.current') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.sustainable_development.agriculture.law') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $tc('global.link', 2) }} </router-link>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                    <li>
                      <a class="collapsible-header waves-effect waves-green">{{ $t('navigation.sustainable_development.industry._') }}</a>
                      <div class="collapsible-body">
                        <ul>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.sustainable_development.industry.current') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.sustainable_development.industry.law') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $tc('global.link', 2) }} </router-link>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                    <li>
                      <a class="collapsible-header waves-effect waves-green">{{ $t('navigation.sustainable_development.fire_protection._') }}</a>
                      <div class="collapsible-body">
                        <ul>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.sustainable_development.fire_protection.current') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.sustainable_development.fire_protection.law') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $tc('global.link', 2) }} </router-link>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-green">{{ $t('navigation.projects._') }}</a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.projects.current') }} </router-link>
                </li>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.projects.finished') }} </router-link>
                </li>
                <li class="no-padding">
                  <ul class="collapsible collapsible-accordion">
                    <li>
                      <a class="collapsible-header waves-effect waves-green">{{ $t('navigation.projects.project_management._') }}</a>
                      <div class="collapsible-body">
                        <ul>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.projects.project_management.point') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.projects.project_management.metodology') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.projects.project_management.licence') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.projects.project_management.examples') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.projects.project_management.gallery') }} </router-link>
                          </li>
                          <li>
                            <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $tc('global.link', 2) }} </router-link>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-green">{{ $t('navigation.education._') }}</a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.education.schedule') }} </router-link>
                </li>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.education.archive') }} </router-link>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.news') }} </router-link>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-green">{{ $t('navigation.about_us._') }}</a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.about_us.vision') }} </router-link>
                </li>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.about_us.mission') }} </router-link>
                </li>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.about_us.goals') }} </router-link>
                </li>
                <li>
                  <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.about_us.contact') }} </router-link>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.blog') }} </router-link>
      </li>
      <li>
        <router-link class="navigation-leaf waves-effect waves-green" to="/foo"> {{ $t('navigation.support') }} </router-link>
      </li>
    </ul>


  </nav>
        
</template>


<script>
    export default {
        mounted() {
            $(".button-collapse").sideNav();
        }
    }
</script>

<style lang="scss">
  nav {
    background: transparent !important;
  }
  .no-padding .collapsible-body {
    padding: 0;
    padding-left: 10px;
  }
  a.navigation-leaf {
    font-weight: 300 !important;
  }
  .side-nav {
    width: auto !important;
  }
  .button-collapse {
    display: block !important;
  }
  .logo {
    height: 50px;
    padding-top: 10px;
  }
  .brand-logo {
    & > i {
      font-size: 30px;
      line-height: 30px;
    }
    & > img {
      height: 48px;
    }
  }
</style>